/*Kleuren*/
:root {
    --wit: #FFFEFD;
    --lighter: #F1EDE7;
    --light: #D4C3AF;
    --dark: #C09D7D;
    --darkest: #8B633D;
    --black: #0C0600
}

/*algemeen*/
body{
    background-color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Kalnia';
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    color: var(--lighter);
}

h2{
    font-family: 'Kalnia';
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: var(--black);
}

h3{
    font-family: 'Kalnia';
    font-weight: 500;
    font-style: normal;
    font-size: 1.8em;
    color: var(--black);
}

h4{
    font-family: 'Kalnia';
    font-weight: 500;
    font-style: normal;
    color: var(--black);
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 1.4em;
}

p, li{
    font-family: 'Comfortaa';
    font-weight: 500;
    font-style: light;
    color: var(--black);
    letter-spacing: 3px;
    line-height: 1.6em;
    font-size: 12pt;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: 'Comfortaa';
    font-weight: 500;
    font-style: light;
    color: var(--darkest); 
    letter-spacing: 2px;
    line-height: 1.6em;
    font-size: 12pt;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

/*header section*/
.content__image{
    background-image: url(../images/bgi-mobile.png);
    margin: 0;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 50px left -600px; 
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.content__image h1{
    margin-top: 20%;
}

.content__image h1,p,a {
    margin-left: 10%;
    margin-right: 10%;
}

.content__image p{
    color: var(--lighter);
}

.button{
    margin-top: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--dark); 
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: var(--black);
}

/*Onze diensten*/
.diensten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*menu*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
    padding: 0;
    margin-bottom: 24px;
}

.menu__item {
    display: flex;
    justify-content: center;
}


.menu__item a{
    background-color: var(--wit);
    border: 2px solid var(--darkest);
    color: var(--darkest); 
    padding: 12px 18px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 800;
}

.menu__item .active{
    background-color: var(--darkest);
    border: 2px solid var(--darkest);
    color: var(--black); 
    padding: 12px 18px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 800;
}

/*einde menu*/

.hidden {
    display: none;
}

.behandelingen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.behandeling-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    font-size: 0;
}

.behandeling-container div{
    height: 100%;
    width: 280px;
}

.behandeling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lymfe {
    display: inline-block;
    width: 280px;
    vertical-align: top; 
    margin: 10px;
    box-sizing: border-box;
}

.product__img{
    width: 280px;
    height: auto;
}

.behandeling h3{
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.behandeling .afspraak{
    background-color: var(--wit);
    border: 2px solid var(--darkest);
    color: var(--darkest); 
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    align-items: center;
    font-weight: 800;
    text-align: center; 
    margin-bottom: 10px;
}

.meer__info{
    background-color: var(--wit);
    border: 2px solid var(--darkest);
    color: var(--darkest); 
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 800;
    text-align: center; 
    margin-bottom: 10px;
    justify-content: center;
}

.meer__info img{
    height: 100%;
    width: 20px;
}

.meer__info span{
    margin-right: 10px;
}

.lymfe.active {
    background-color: var(--light);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.afspraak.active {
    background-color: var(--darkest) !important;
    color: var(--lighter) !important;
}

.meer__info.active {
    background-color: var(--light);
}

.info__behandeling__extra {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    text-align: left;
    margin-bottom: 12px;
}

.info__behandeling__extra h3,
.info__behandeling__extra p {
    margin: 0 0 10px 0;
}

.meer__info img {
    transition: transform 0.3s ease;
}

.afspraak {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.meer__info {
    transition: background-color 0.3s ease;
}

.meer__info img {
    transition: transform 0.3s ease;
}

.info__behandeling__extra__dienst {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.info__behandeling__extra__dienst img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    transition: transform 0.3s ease;
}

.info__behandeling__extra__dienst h4,
.info__behandeling__extra__dienst p {
    margin: 0;
}

.info__behandeling__extra__dienst h4{
    font-size: 14pt;
}

.info__behandeling__extra__dienst .prijs {
    margin: 0;                       
    font-size: 0.9rem;               
    color: var(--black);                      
    white-space: nowrap;
}

.toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding-left: 30px;
}

.toggle.open {
    max-height: 400px; 
}

.toggle p {
    margin: 0;
    margin-top: 2px;
    text-align: left;
    margin-bottom: 20px
}

.info__behandeling__extra {
    width: 100%;
}


.info__behandeling__extra__dienst__prijs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 12px;
}

.info__behandeling__extra__dienst__prijs .prijs {
    text-align: right;             
    font-size: 0.9rem;             
    color: var(--black);                   
}

/*over mij*/
.over-mij {
    margin-top: 88px;
    background-color: var(--lighter);
    padding: 20px 20px;
    margin-left: -10%;
    margin-right: -10%;
    width: 110%;
}

.over-mij img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 40px;
}

.over-mij h2 {
    margin: 0; /* Verwijder marge voor de heading */
    margin-bottom: 34px;
}

.over-mij p {
    margin: 10px 0; /* Voeg marge toe boven en onder de paragraaf */
}

.over-mij a {
    background-color: var(--lighter);
    border: 2px solid var(--darkest);
    color: var(--darkest); 
    padding: 12px 18px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 800;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 80px;
}

/*eximia*/
.over-machine{
    background-color: var(--lighter);
    padding: 20px 20px;
    margin-left: -10%;
    margin-right: -10%;
    width: 110%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 80px;
}

.over-machine img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 40px;
}

.over-machine h2 {
    margin: 0; 
    margin-bottom: 34px;
}

.over-machine p {
    margin: 10px 0;
} 

/*Reviews*/
.reviews {
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.slider-wrapper {
    position: relative; 
    width: 100%; 
    padding: 20px; 
    overflow: visible; 
    box-shadow: 0px 4px 10px rgba(211, 211, 211, 0.7); 
    border-radius: 8px;
    background-color: var(--lighter);
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; /* Hoeken van de reviews afronden */
}

.review img {
    width: 60%;
}

.review h4{
    margin-bottom: 4px;
}

.dots {
    text-align: center;
    margin-top: 34px;
}

.dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: var(--light);
    cursor: pointer;
}

.dot.active {
    background-color: var(--dark);
}

/*contact*/
.contact{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.contact .img{
    display: none;
}

.contact p{
    margin: 0;
}

.contact__info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contact__info img{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

/*insta*/
.insta {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
    margin-bottom: 40px;
}

.slider-wrapper2 {
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}

.slider-container2 {
    width: 100%;
}

.slider2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.post {
    flex: 0 0 100%; 
}  

.post img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
}

/*footer*/
footer{
    background-color: var(--light);
}

.footer__content{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    margin-bottom: 60px;
}

.footer__content a{
    color: var(--black);
    margin-bottom: 10px;
    margin: 0;
}

.footer__links{
    display: flex;
    flex-direction: column;
}

.footer__links a{
    color: var(--black);
}

.footer__contact a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {

    .content{
        margin: 0;
    }

    /* header */
    .content__image{
        background-image: url(../images/bgi.png);
        margin: 0;
        height: 100vh; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        display: flex;
        justify-content: center;
    }

    .content__image__text{
        width: 45%;
        margin-top: -10%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /*diensten*/

    .diensten{
        margin-left: 10%;
        margin-right: 10%;
    }

    .lymfe.active {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        gap: 20px;
    }

    .behandeling {
        width: 280px;
        flex-shrink: 0;
    }

    .info-behandeling {
        display: block !important;
        width: 100%;
    }

    .info__behandeling__extra {
        align-items: flex-start;
        padding-left: 0;
    }

    .info-behandeling.hidden {
        display: none !important;
    }

    .behandeling-afbeelding {
        flex: 1;
        border-radius: 8px;
        overflow: hidden;
        max-width: 300px;
    }
    
    .behandeling-afbeelding img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .info-behandeling {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--black);
        width: 100%;
    }
    
    .info-behandeling p {
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    .info-behandeling h3 {
        font-family: "Kalnia";
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .info__behandeling__extra {
        width: 100% !important;
    }

    .info__behandeling__extra p{
        max-width: 100% !important;
    }

    .info__behandeling__extra__dienst {
        width: 100% !important;
    }
    
    .info__behandeling__extra__dienst__prijs {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    
    .toggle {
        width: 100% !important;
    }

    /*over mij section*/
    .over-mij {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 88px;
    }
    
    .over__mij__image {
        height: auto; 
    }
    
    .over-mij img {
        display: block;
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        margin: 0;
        padding: 0; 
    }
    
    .over__mij__text {
        padding-top: 40px;
        width: 39%; 
        margin-right: 10%;
        margin-left: 80px;
    }
    
    .over__mij__text p {
        font-size: 0.8em;
    }    

    /*over machien*/
    .over-machine{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .over__machien__image {
        height: auto; 
    }
    
    .over-machine img {
        display: block;
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        margin: 0;
        padding: 0; 
    }
    
    .over__machien__text {
        padding-top: 40px;
        width: 40%; 
        margin-left: 10%;
        margin-right: 80px;
    }
    
    .over__machien__text p {
        font-size: 0.8em;
    } 

    /*reviews*/
    .reviews{
        position: relative;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .slider{
        display: flex;
        flex-direction: row;
        width: 30.33%;
        gap: 20px;
    }

    .slider-wrapper {
        position: relative; 
        width: 100%; 
        padding: 20px; 
        overflow: hidden; 
        border-radius: 8px;
        background-color: var(--wit);
        box-shadow: 0px 0px 0px;
    }

    
    .slider-container {
        display: flex; 
        transition: transform 0.5s ease-in-out; 
    }

    .review {
        flex: 0 0 33.33%; 
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        background-color: var(--lighter); 
        margin: 10px; 
        box-shadow: 0px 4px 10px rgba(211, 211, 211, 0.7); 
    }

    .review img {
        width: 200px;
    }

    .review p{
        font-size: 0.8em;
    }
    
    .review h4{
        margin-bottom: 4px;
    }

    /*Contact*/
    .contact{
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-right: 0;
    }
    
    .over__contact__image {
        height: auto; 
    }
    
    .over__contact__image img {
        display: block;
        width: 100%; 
        height: 50%; 
        object-fit: cover; 
        margin: 0;
        padding: 0; 
    }
    
    .contact__text {
        padding-top: 40px;
        width: 40%; 
        margin-left: 10%;
        margin-right: 80px;
    }
    
    .contact__text p {
        font-size: 0.8em;
    } 

    .contact__info img{
        width: 20px;
        height: 20px;
    }

    /*socials*/
    .insta {
        position: relative; 
        overflow: hidden; 
        width: 100%; 
        height: 100%; 
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .slider-wrapper2 {
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
    }
    
    .slider-container2 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .slider2 {
        display: flex;
        flex-direction: row;
        width: 26.66%;
        gap: 20px;
    }

    /*footer*/
    .footer__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 32px;
        margin-top: 0px;
    }

    .footer__content a{
        font-size: 10pt;
    }

    .footer__content H3{
        font-size: 14pt;
    }
}